header{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_logo img{
        width: 160px;
    }
    aside{
        z-index: +2;
        ul{
            @include reset_list();
            gap: 20px;
            img{
                width: 23px;
            }
            .sign{
                color: $blue;
                padding-left: 35px;
            }
        }
    }
}